<div class="container-fluid">

    <div class="row">
        <!-- <iframe class="fill-screen" [src]="setVideoURL('1XTvrXLfheI?autoplay=0')" frameborder="0"></iframe>

        <div class="row content-filler">
        </div> -->
        <div class="fill-screen content-attached" style=" background-image: url(../../assets/lake.jpg)">
            <a class="btn" href="#sports">
                <div class="down-button">
                    <i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i>
                </div>
            </a>

        </div>
        <div class="row text-banner" id="sports">
            <h1>VISIT THE ROCKY MOUNTAINS</h1>
            <p>Welcome to where the US takes on truly epic proportions.
                Here in Colorado, Wyoming, Montana and Idaho, the Great Plains of the American West collide with
                the drama-filled Rockies, one of the most beautiful mountain ranges on earth.
                You'll lose count of how often you look up and have the beauty of what you see bid you silent.</p>
        </div>
        <div class="fill-screen content-attached" style=" background-image: url(../../assets/elk.jpg)">
        </div>

        <section class="row activity-section" id="activities">
            <div class="col-md-4 activity-item">
                <img src="../../assets/map.png" />
                <h2>Orienteering</h2>
                <p>Do some Orienteering.</p>
            </div>
            <div class="col-md-4 activity-item">
                <img src="../../assets/pic.png" />
                <h2>Rock Climbing</h2>
                <p>Do some rock climbing.</p>
            </div>
            <div class="col-md-4 activity-item">
                <img src="../../assets/backpack.png" />
                <h2>Backpacking</h2>
                <p>Do some Backpacking.</p>
            </div>
        </section>


        <div class="fill-screen content-attached" style=" background-image: url(../../assets/snowboarder.jpg)">
        </div>
    </div>
</div>