<div class="container-fluid">

    <div class="row">
        <!-- <div id="my-video-display" class="fill-screen"></div> -->
        <div class="fill-screen content-attached" style=" background-image: url(../../assets/lake.jpg)">
        </div>
        <div class="row content-filler">
        </div>
        <div class="fill-screen content-attached" style=" background-image: url(../../assets/elk.jpg)">
        </div>
        <div class="row content-filler">
        </div>

        <div class="fill-screen content-attached" style=" background-image: url(../../assets/snowboarder.jpg)">
        </div>
    </div>
</div>