
header{
    padding-top: 0px;
}
.fill-screen{
   
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 50em;
    width: 100em;
}
.content-filler{
    min-height:350px;
}

.content-attached{
    background-attachment: fixed;
}
.down-arrow{
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    color: white;
}

.text-banner h1{
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
.text-banner p{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    }
@media(max-width:767px){
    .text-banner h1{
        font-size: 20px;
    }
    .text-banner p{
        font-size: 15px;
        margin-left: 100px;
    margin-right: 100px;
    }

}

.activity-section{
  height: 100%;
  width: 100%;
    margin: 50px;

}

.activity-item{
    text-align: center;
}

.activity-item img {
    width: 150px;
    height: 150px;
}

    

@media(max-width:1024px){
    .content-attached{
        background-attachment: scroll;
    }   
}