body{
    position: relative;
}
header{
    padding-top: 80px;
}
img{
    background-blend-mode: lighten;
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
    opacity: 0.7;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    
    color: ivory;
}
.nav-pills > li > a.active {
    background-color: rgb(68, 68, 68)!important;
}
.bg-dark.scrolled {
    background-color: #333 !important;
    padding: 15px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
nav img{
    height: 3em;
    width: 17em;
}

footer{
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 20px;
}


@media(max-width: 375px){
    header{
        position: relative;
    }
    nav img{
        top: 0;
        bottom: 0;
        width: 60%;
        margin-top: 20px;
        
        position: absolute;
    }
}

.bg-dark {
    background-color: #333 !important;
    padding: 25px;
}