<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a href="#" id="brand-logo">
      
    <img src="../assets/site-logo-white-70pct.png"  >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sights</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
     
    </div>
  </nav>
</header>
<div class="container-fluid">
 
  <div class="row">

   
      <section class="col-sm-9 col-lg-8 order-sm-2">
          <article>
            <h2>Why I Went Into the Lake</h2>
            <img src="../assets/lake.jpg" />
            <div class="row">
              <p class="col-sm-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="col-sm-2">
                <input type="button" class="btn btn-primary" value="More..." />
              </div>
            </div>
          </article>
          <article>
            <h2>My Name is NOT Bullwinkle</h2>
            <img src="../assets/elk.jpg" />
            <div class="row">
              <p class="col-sm-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="col-sm-2">
                <input type="button" class="btn btn-primary" value="More..." />
              </div>
            </div>
          </article>
          <article>
            <h2>There's Gotta be a Penguin Up Here Somewhere</h2>
            <img src="../assets/elk.jpg" />
            <div class="row">
              <p class="col-sm-10">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            
              </p>
              <div class="col-sm-2">
                <input type="button" class="btn btn-primary" value="More..." />
              </div>
            </div>
          </article>
        </section>
    <aside class="col-sm-3 col-lg-2 order-sm-1">
      <h5 class="range-title">
        <B>Mountain Ranges</B>
      </h5>
      <div class="range-list">
        <a href="#">
          <img src="../assets/range-1.png">
          <h5> Wasatch Range</h5>
        </a>
        <a href="#">
          <img src="../assets/range-2.png">
          <h5>Mummy Range</h5>
        </a>
        <a href="#">
          <img src="../assets/range-3.png">
          <h5>Front Range</h5>
        </a>
        <a href="#">
          <img src="../assets/range-4.png">
          <h5>Sawtooth Range</h5>
        </a>
        <a href="#">
          <img src="../assets/range-5.png">
          <h5>West Elk Mountains</h5>
        </a>
      </div>

    </aside>
    
    <aside class="sports-icon-list col-sm-12 col-lg-2  order-sm-3">
      <a href="#">
        <img src="../assets/icon-downhill.png">
        <h6> Downhill</h6>
      </a>
      <a href="#">
        <img src="../assets/icon-snowboard.png">
        <h6>Snowboarding</h6>
      </a>
      <a href="#">
        <img src="../assets/icon-bobsled.png">
        <h6>Bobsled</h6>
      </a>
      <a href="#">
        <img src="../assets/icon-cross-country.png">
        <h6>Cross Country</h6>
      </a>
      <a href="#">
        <img src="../assets/icon-biathlon.png">
        <h6>Bialathon</h6>
      </a>
    </aside>
  </div>
</div>

<footer class="container-fluid">
  <h1>FOOTER</h1>
</footer>

<script>
  
$(document).ready(function() {
  console.log("Started!");
    $(window).scroll(function() {
       if($(this).scrollTop() > 200) { 
         console.log("Reached!")
           $('.navbar').addClass('scrolled');
       } else {
           $('.navbar').removeClass('scrolled');
       }
    });
});


</script>
