
h5{
    color: darkorange;
    font-weight: bold;   
    margin-bottom: 40px;
}
aside{
    padding-top: 40px;
    background-color:#f7f7f7 ;
    text-align: center;
    
}

.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
    padding-top: 40px;
    
}


.sports-icon-list a{
   color: white;
   display: inline-block;
   margin-left: 10px;
}



.sports-icon-list a img{
    width: 100px;
    height: 100px;
    
 }
.range-title{
    
    color: darkblue;
}

.range-list{
    padding-bottom: 40px;
    
}
article{
    padding: 40px;
}
article img{
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
    text-align: center;
}

article p{
    font-size: 20px;
    
}


@media(max-width: 767px){

    .sports-icon-list {
        background-color: #333;
        padding-bottom: 20px;
        padding-top: 20px;
        
    }
    
    .sports-icon-list a img{
        width: 30px;
        height: 30px;
     }
     .sports-icon-list a h6{
        font-size: 70%;
     }

     .sports-icon-list a{
        display: inline-block;
        margin-left: 10px;
     }
     .range-list a  {
        display: block;
        }
     
     .range-list img {
        width: 33%;
        height: 33%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        }
     .range-list  h5{
        display: inline;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
      
      
        }

}